.fontes-container .fonte-container{
    padding: 2em;
    margin-left: 300px;
}

.fontes-container .fontes-header{
    display: flex;
    justify-content: space-between;
}

.fontes-container .fonte-title{
    font-size: 30px;
}

.fontes-container .list-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    justify-items: center;
    margin-bottom: 1em;
    margin-top: 5em;
    padding: 0 1em;
}

.fontes-container .fonte-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--card);
    justify-items: center;
    border-radius: .7em;
    padding: 2em 1em;
    margin-bottom: 1em;
}

.fontes-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.fontes-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}