.login_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container .hero-image {
    width: 60%;
    object-fit: cover;
}

.form-login img {
    object-fit: cover;
    max-width: 200px;
}

.form-login {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login form .input {
    min-width: 280px;
    padding: 0.8rem;
    color: #727272;
    border-radius: 8px;
    border: 1px solid #000000;
    margin-bottom: 0.5rem;
    outline: none;
}

.button{
    min-width: 280px;
    padding: 0.8rem;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #730075;
    transition: 200ms;
}

.button:hover{
    opacity: 90%;
}

@media (max-width: 740px) {
    .hero-image {
        display: none;
    }
}