.menu-container{
    background-color: var(--card);
    color: var(--secondary);
    position: fixed;
    height: 100vh;
    padding: 2em 1em;
    width: 300px;
}

.menu-container .menu-title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: .7em;
}

.menu-container .menu-group{
    display: flex;
    flex-direction: column;
}

.menu-container .menu-group-title{
    margin-bottom: .7em;
    color: var(--secondary)
}

.menu-container .menu-group-link:hover{
    color: var(--primary)
}

.menu-container .submenus{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.menu-container .submenu{
    color: var(--secondary);
    margin-bottom: .7em;
}

.menu-container .submenu:hover{
    color: var(--primary);
}

.active {
    background: #f3f3f3;
    cursor: pointer;
}