.acoes-instituicoes-container .acoes-instituicao-container{
    padding: 2em;
    margin-left: 300px;
}

.acoes-instituicoes-container .acoes-instituicoes-header{
    display: flex;
    justify-content: space-between;
}

.acoes-instituicoes-container .acoes-instituicao-title{
    font-size: 30px;
}

.acoes-instituicoes-container .list-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 5em;
    padding: 0 1em;
}

.acoes-instituicoes-container .acoes-instituicao-card{
    background-color: var(--card);
    border-radius: .7em;
    padding: 2em 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.acoes-instituicoes-container .info-acoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.acoes-instituicoes-container .info-fontes{
    background-color: #e6e5e773;
    border-radius: .4em;
    padding: .4em;
}
.acoes-instituicoes-container .info-fontes .card-acao{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
}

.acoes-instituicoes-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.acoes-instituicoes-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.acoes-instituicao-card .head-acao{
    font-weight: bold;
}