.fontes-tipos-container .fonte-tipo-container{
    padding: 2em;
    margin-left: 300px;
}

.fontes-tipos-container .fontes-tipos-header{
    display: flex;
    justify-content: space-between;
}

.fontes-tipos-container .fonte-tipo-title{
    font-size: 30px;
}

.fontes-tipos-container .list-header{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 5em;
    padding: 0 2em;
    grid-gap: 2em;
}

.fontes-tipos-container .fonte-tipo-card{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    background-color: var(--card);
    border-radius: .7em;
    padding: 2em;
    margin-bottom: 1em;
}

.fontes-tipos-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 5em;
}

.fontes-tipos-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}