.relatorios-container .relatorio-container{
    padding: 2em;
    margin-left: 300px;
}

.relatorios-container .relatorios-header{
    display: flex;
    justify-content: space-between;
}

.relatorios-container .relatorio-title{
    font-size: 30px;
}

.relatorios-container .list-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    justify-items: center;
    margin-bottom: 1em;
    margin-top: 5em;
    padding: 0 1em;
}

.relatorios-container .list{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-items: center;
    margin-top: 5em;
    width: 20em;
}

.relatorios-container .list a{
    margin-bottom: 3em;
}

.relatorios-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.relatorios-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.relatorios-container .relatorios-form{
    display: flex;
    flex-direction: column;
}