.centros-custos-edit-container .centro-custo-edit-container{
    padding: 2em;
    margin-left: 300px;
}

.centros-custos-edit-container .centros-custos-edit-header{
    display: flex;
    justify-content: space-between;
}

.centros-custos-edit-container .centro-custo-edit-title{
    font-size: 30px;
}

.centro-custo-edit-container .centro-custo-edit-form{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    width: 30%;
}

.centro-custo-edit-container .centro-custo-edit-form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8em;
}

.centro-custo-edit-container .centro-custo-edit-form input{
    padding: .6em;
    border-radius: .4em;
    height: 3.5em;
}

.centro-custo-edit-container .check-aprovado{
    display: flex;
    align-items: center;
}

.centro-custo-edit-container .check-aprovado input{
    width: 1.5em;
}


.centro-custo-edit-container select{
    padding: .6em;
    border-radius: .4em;
    height: 3.5em;
}