.metas-orcamentarias-container .meta-orcamentaria-container{
    padding: 2em;
    margin-left: 300px;
}

.metas-orcamentarias-container .metas-orcamentarias-header{
    display: flex;
    justify-content: space-between;
}

.metas-orcamentarias-container .meta-orcamentaria-title{
    font-size: 30px;
}

.metas-orcamentarias-container .list-header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    justify-items: center;
    margin-bottom: 1em;
    margin-top: 5em;
    padding: 0 1em;
}

.metas-orcamentarias-container .meta-orcamentaria-card{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--card);
    justify-items: center;
    border-radius: .7em;
    padding: 2em 1em;
    margin-bottom: 1em;
}

.metas-orcamentarias-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.metas-orcamentarias-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.metas-orcamentarias-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.metas-orcamentarias-container .acoes{
    background-color: #e6e5e773;
    border-radius: .4em;
    padding: .4em 0;
}

.metas-orcamentarias-container .acoes-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}