.acoes-tipos-container .acao-tipo-container{
    padding: 2em;
    margin-left: 300px;
}

.acoes-tipos-container .acoes-tipos-header{
    display: flex;
    justify-content: space-between;
}

.acoes-tipos-container .acao-tipo-title{
    font-size: 30px;
}

.acoes-tipos-container .list-header{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr .5fr 1fr;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 4em;
    padding: 0 2em;
    grid-gap: 2em;
}

.acoes-tipos-container .acao-tipo-card{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr .5fr 1fr;
    background-color: var(--card);
    border-radius: .7em;
    padding: 2em ;
    margin-bottom: 1em;
    grid-gap: 2em;
}

.acoes-tipos-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    width: 5em;
}

.acoes-tipos-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.acoes-tipos-container .fav{
    cursor: text;
    color: var(--text);
}

.acoes-tipos-container .filters{
    margin-top: 2em;
    width: 90%;
}

.acoes-tipos-container input{
    height: 3.4em;
    font-size: 16px;
    padding: .5em;
    border-radius: 4px;
}