.programas-tipos-container .programa-tipo-container{
    padding: 2em;
    margin-left: 300px;
}

.programas-tipos-container .programas-tipos-header{
    display: flex;
    justify-content: space-between;
}

.programas-tipos-container .programa-tipo-title{
    font-size: 30px;
}

.programa-tipo-container .principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programas-tipos-container .list-header{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 4em;
    padding: 0 2em;
    width: 90%;
}

.programas-tipos-container .list{
    width: 90%;
}

.programas-tipos-container .programa-tipo-card{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    background-color: var(--card);
    border-radius: .7em;
    padding: 2em 2em;
    margin-bottom: 1em;
}

.programas-tipos-container .actions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    width: 2em;
}

.programas-tipos-container .icon{
    font-size: 25px;
    color: var(--primary);
    cursor: pointer;
}

.programas-tipos-container .fav{
    cursor: text;
    color: var(--text);
}

.programas-tipos-container .filters{
    margin-top: 2em;
    width: 90%;
}

.programas-tipos-container input{
    height: 3.4em;
    font-size: 16px;
    padding: .5em;
    border-radius: 4px;
}